<div>
    <div>
        <table>
            <tr>
                <th> Name </th>
                <th> Mail </th>
                <th> Mobile </th>
                <th> City </th>
                <th> Post </th>
                <th> Country </th>
                <th> Choose Date</th>
                <th>BookingTime</th>
            </tr>

            <tr *ngFor="let card of card">
                <td>{{card.name}}</td>
                <td>{{card.mail}}</td>
                <td>{{card.mobile}}</td>
                <td>{{card.city}}</td>
                <td>{{card.post}}</td>
                <td>{{card.country}}</td>
                <td>{{card.date}}</td>
                <td>{{card.bookingtime}}</td>
            </tr>
        </table>
    </div>
</div>

